<p id="notice"><%= notice %></p>

<h1>Punches</h1>

<table>
  <thead>
    <tr>
      <th>Punch at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @punches.each do |punch| %>
      <tr>
        <td><%= punch.d %></td>
        <td><%= punch.start.in_time_zone('Tokyo').strftime('%H:%M') %></td>
        <td><%= punch.end.in_time_zone('Tokyo').strftime('%H:%M') %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% #binding.pry #link_to 'New Punch', new_punch_path %>
